/* Footer.css */

/* Style for the whole footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 12px;
    text-align: center;
   
  }
  
  /* Style for the upper footer */
  .upper-footer {
    background-color: #4B6488;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically */
  }
  
  /* Style for links within the footer */
  .github-logo a {
    color: #151616;
    text-decoration: none;
    transition: color 0.3s;
    margin-left: 1450px;
    display: flex;
  }
  
  /* Style for links on hover */
  .github-logo a:hover {
    color: #007bff;
  }
  
  /* Style for the lower footer */
  .lower-footer {
    background-color: #333;
    text-align: center;
    padding: 6px;
  }
  
  .sampath{
    width: 100% ;
    position: relative; /* Set position to relative */
    margin-top: auto; /* Push footer to the bottom */
    margin-bottom: 0%;
  }
  
  /* Style for the text within the lower footer */
  .footer-text {
    color: #fff;
    font-size: 13px;
    text-align: center;
  }
  
  /* Media query for tablet and mobile view */
  @media (max-width: 768px) {
    .upper-footer {
      flex-direction: column;
    }
    
    .footer-text {
      font-size: 12px;
    }
  }
  